/* Style the menu */
#menu {
	overflow: hidden;
	background-color: rgb(134, 32, 32);
	z-index:1;
  }
  
  /* menu links */
  #menu a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	width: 14.28%;
	font-family: fantasy;
  }
  
  /* menu hover */
  #menu a:hover {
	background: url('back.jpg') no-repeat;
  }
  
  /* menu active */
  #menu a:active {
	background: #000;
  }
  
  
  /* Page padding */
  .content {
	padding: 16px;
  }
  /* sticky menu */
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  /* Add top padding */
  .sticky + .content {
	padding-top: 60px;
  }

  #headlines{
	width: 10cm; 
	height: 1%;
  }
  
  body  {
	  background-image: url("img5.jpg");
	  background-repeat: repeat;
	  background-color: #cccccc;
	  background-blend-mode: soft-light;
  }
  
  #me {
	  font-family: fantasy;
  }
  
  * {box-sizing:border-box}
  
  /* Slideshow container */
  .slideshow-container {
	  max-width: 1000px;
	  position: relative;
	  margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position of "next button" to the right */
  .next {
	right: 0;
	border-radius: 3% 0 0 3%;
  }
  
  /* button hover */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* image text */
  .text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
  }
  
  /* image number text */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
	  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: rgba(0, 0, 0, 0.329);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
	
  .active, .dot:hover {
	background-color: rgb(134, 32, 32);;
  }
	
  /* Fading animation */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
	
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
	
  
	